table{
    border: black 1px solid;
    width: 550px;
    height: 50px;
}

th,td{
    border: #27a0c9 2px solid;
    padding: 7px;
}

th{
    background-color: #003333;
    color: #bcefc0;
}

tr:nth-child(odd) {

    background-color: #99cc99;

}

tr:nth-child(even) {

    background-color: #ccffcc;

}