body{
    background: url(/ejercicio3/imagenes/pinguinos.jpg) no-repeat center;
    background-size:60%;
    background-position:top;
}
table{
    background-color: white;
    border: 1px black solid ;
    margin: auto;
    width: 500px;
    margin-top: 20%;
}

td, th, tr{
    border: 1px black solid ;
}

td{
    background-color: #f9fc99;
}